<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aqua - Chatbot</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img class="logo" src="/static/audio/logo.png" alt="Aqua Logo" />
        <ul class="nav-links">
          <li><a href="#main">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <h1>Aqua</h1>
      <form id="cv-form" onsubmit="event.preventDefault(); uploadCv();">
        <div class="form-group" id="main">
          <label for="cv">Upload CV:</label>
          <input type="file" id="cv" name="cv" required />
        </div>
        <div class="form-group">
          <label for="job_field">Job Field:</label>
          <input type="text" id="job_field" name="job_field" required />
        </div>
        <button type="submit" class="btn-submit">Submit CV</button>
      </form>
      <div id="questions" class="form-group"></div>
      <!-- Add this inside your container div -->
      <div id="coding-question" class="form-group"></div>
      <button
        id="submit-answers-button"
        oclick="evaluateAnswers()"
        class="btn-submit"
      >
        Submit Answers
      </button>
    </div>

    <script src="/static/js/script.js"></script>
  </body>
</html>
